# Xcode
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
IDEWorkspaceChecks.plist

# Build
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods / SPM
Pods/
.build/

# macOS
.DS_Store
*.swp
*~

# Secrets
*.p12
*.mobileprovision
*.provisionprofile
